.Header{
    width: 550px;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 2.9825618267059326px 7.456404209136963px 0px gray;
    border-radius: 10px 10px 0 0;
    border: black;
}

.Airbnb{
    width: 82.02044677734375px;
    height: 25.351774215698242px;
    padding-top: 22px;
    padding-left: 30px;
}

.Box{
    width: 550px;
    background: #FFFFFF;
    box-shadow: 0px 2.9825618267059326px 7.456404209136963px 0px gray;
    border-radius: 0 0 10px 10px;
}

.Img{
    width: 395.906494140625px;
    height: 232px;
    padding-top: 96px;
    padding-left: 77px;
    border-radius: 8.949999809265137px;
}

.Tx{
    width: 347px;
    height: 40px;
    padding-top: 36px;
    padding-left: 36px;
    margin: 0px;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
}

.smallTx{
    width: 270px;
    height: 56px;
    padding-left: 36px; 
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;    
}

.smallImg{
    width: 176px;
    height: 235px;
    margin-left: 37px;
    border-radius: 9px;
}

.Scroll{
    display: flex;
    height: 350px;
    overflow: auto;
}

.smalldes{
    margin-left: 37px;
    width: 176px;
    height: 58px;
}